<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>


	<log4net>
		<!--log4net 라이브러리에서 발생한 로그들을 appender-ref 목록에 있는 appender 들에게 전달-->
		<root>
			<level value="ALL"/>
			<appender-ref ref="DBAppender"/>
			<appender-ref ref="console"/>
			<appender-ref ref="file"/>
			<!--appender-ref ref="fatal_file"/-->
		</root>


		<!--DB Appender-->
		<appender name="DBAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess, Version=2.0.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
			<connectionString value="Data Source=db202201131832_high;User Id=ADMIN;Password=Oracle12345!;"/>
			<commandText value="INSERT INTO EVENT_LOG (LOG_NO, USER_NO, USER_NAME, USER_AUTH, USER_IP, USER_NATION, LOG_DATE, LOG_LEVEL, LOG_CLASS, LOG_METHOD, MESSAGE) 
											   VALUES (EVENT_LOG_SEQ.nextval, :user_no, :user_name, :user_auth, 
													  (SELECT SYS_CONTEXT('USERENV', 'IP_ADDRESS') FROM dual), (SELECT SYS_CONTEXT('USERENV', 'NLS_TERRITORY') FROM dual), :log_date, :log_level, :log_class, :log_method, :message)"/>

			<parameter>
				<parameterName value=":user_no"/>
				<dbType value="String"/>
				<size value="10"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{user_no}"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":user_name"/>
				<dbType value="String"/>
				<size value="10"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{user_name}"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":user_auth"/>
				<dbType value="String"/>
				<size value="10"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{user_auth}"/>
				</layout>
			</parameter>

			<parameter>
				<parameterName value=":log_date"/>
				<dbType value="DateTime"/>
				<layout type="log4net.Layout.RawTimeStampLayout"/>
			</parameter>
			<parameter>
				<parameterName value=":log_level"/>
				<dbType value="String"/>
				<size value="50"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":log_class"/>
				<dbType value="String"/>
				<size value="1000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%class"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":log_method"/>
				<dbType value="String"/>
				<size value="1000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%method"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":message"/>
				<dbType value="String"/>
				<size value="4000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message"/>
				</layout>
			</parameter>

		</appender>


		<!--Console Appender-->
		<appender name="console" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger - %message%newline" />
			</layout>
		</appender>


		<!--File Appender-->
		<appender name="file" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="${USERPROFILE}\ezIMP\log\.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="3" />
			<maximumFileSize value="5MB" />

			<datePattern value="'Easy_Project_'yyyy-MM-dd" />
			<preserveLogFileNameExtension value="true"/>
			<staticLogFileName value="false" />

			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
		</appender>


		<!--Fatal File Appender-->
		<!--appender name="fatal_file" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="log\.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="3" />
			<maximumFileSize value="5MB" />

			<datePattern value="'Easy_Project_Fatal_'yyyy-MM-dd" />
			<preserveLogFileNameExtension value="true"/>
			<staticLogFileName value="false" />

			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="FATAL" />
				<param name="LevelMax" value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
		</appender-->


	</log4net>

</configuration>